.contenido {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f0f0f0;
}

.texto {
  text-align: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
}

label {
  margin-top: 10px;
}

input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="checkbox"] {
  margin-top: 10px;
  margin-bottom: 15px;
}

.button {
  padding: 10px 20px;
  background-color: #248f03;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0ee443;
}
